app-dynamic-form-questions {
  width: 100%;
}

hr {
  width: 110%;
  margin: .5rem -5%;
}

.bottom-right-buttons button {
  margin-right: 1vw;
}

.date-input {
  width: 10vw;
  margin-right: 10px;
}

/* Media */

@media (max-width: 576px) {
  .date-input {
    width: 70px;
  }

  .form-row:first-of-type {
    margin-top: 0!important;
  }
}
