.navbar {
  min-height: 62px;
}


.spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call-to-action-active {
  background-color: white!important;
  border-color: white!important;
}

.call-to-action-button {
  background-color: #FC4482;
  border-color: #FC4482;
  margin-right: 10px;
}

/* Typography */

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: white;
}

.links a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8em;
}

.link-active {
  text-decoration: underline;
}

.call-to-action-active {
  color: #FC4482!important;
}

.call-to-action-button {
  color: white;
}
