<div [formGroup]="form" class="row container justify-content-between">
  <!-- <label [attr.for]="question.id">{{ question.content }}</label> -->

  <h5>{{ question.content }}</h5>

  <div [ngSwitch]="question.type">

    <mat-form-field class="expansion-panel-form-field" *ngSwitchCase="'free-response'">
      <input
        matInput
        [formControlName]="question.id"
        [id]="question.id + '-input'"
        [type]="question.type"
        placeholder="Enter your response"
      >
    </mat-form-field>

    <mat-form-field class="expansion-panel-form-field" *ngSwitchCase="'multiple-choice'">
      <mat-select [id]="question.id" [formControlName]="question.id" placeholder="Select">
        <mat-option *ngFor="let opt of question.choices" [value]="opt.key">{{ opt.value }}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{ question.title }} is required</div>

</div>
