.input {
  margin-right: auto;
}

.row {
  margin: auto 0 -1.8vw 0;
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.expansion-panel-form-field {
  width: 100%;
}

.col-12, .col-sm-6 {
  padding-right: 0;
  padding-left: 0;
}

mat-form-field-infix {
  border-top: none!important;
}
