.date-input {
  width: 100px;
}

.date-input-group {
  margin-right: 20px;
}

.submit-button {
  margin-top: .4375em;
}

table {
  width: 100%;
}

.question {
  margin-top: 30px;
}

.question-table {
  max-height: 200px;
  overflow: auto;
}

.mat-column-response {
  width: 80%;
}

th.mat-header-cell {
  border-bottom: none;
}

th.mat-header-cell::after {
  content:'';
  position:absolute;
  left: 0;
  bottom: 0;
  width:100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)!important;
}
