mat-progress-bar {
  margin-top: 5vh;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%!important;
  text-align: center;
}

.date-input {
  width: 10vw;
}

.mat-header-cell, .mat-cell {
  padding: 2vh 2vw!important;
}

th.mat-header-cell {
  border-bottom: none;
}

th.mat-header-cell::after {
  content:'';
  position:absolute;
  left: 0;
  bottom: 0;
  width:100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)!important;
}

.mat-header-row, .mat-row {
  height: auto;
}

.mat-expansion-panel-content {
  margin-top: 30px;
}

.question-table, .mat-expansion-panel-header {
  margin-bottom: 1.3vw;
}

.question-table {
  max-height: 200px;
  overflow: auto;
}

.question {
  margin-top: 30px;
}

.mat-column-response {
  width: 80%;
}

h5 {
  margin: 0!important;
}

.submit-button {
  margin-top: .4375em;
  width: 10vw!important;
  min-width: 66px!important;
}

/* Typography */

th.mat-header-cell {
  font-size: 1.5vw!important;
}

mat-panel-title h5 {
  font-weight: 500!important;
}

/* Media */

@media (max-width: 576px) {
  .responsive-button {
    font-size: 9px!important;
  }

  th.mat-header-cell {
    font-size: 12px!important;
  }

  .question-table, .mat-expansion-panel-header {
    margin-bottom: 12px;
  }
}

@media (max-width: 400px) {
  .col-6, .col-4 {
    padding: 5px!important;
  }
}
