h2, h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom-right-buttons {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
